*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
}

nav .div_sec{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

nav .div_sec .icon_menu{
    display: none;
}
nav .div_sec ul .icon_menu_bağlamaq{
    display: none;
}
nav .div_sec .div_sekil{
    height: 100%;
}
nav .div_sec .div_sekil img{
    width: 100%;
    height: 100%;
}
nav .div_sec ul{
    display: flex;
    gap: 5%;
    position: relative;
}
.underline1{
    position: absolute;
    left: 0;
    top: 41px;
    background-color: black;
    transition: .5s;
    width: 45px;
    height: 2px;
}
.underline2{
    width: 90px;
    left: 62px;
}
.underline3{
    width: 63px;
    left: 168px;
}
.underline4{
    width: 93px;
    left: 246px;
}
.underline5{
    width: 57px;
    left: 357px;
}
nav .div_sec  ul li{
    width: 100%;
    list-style: none;
}
nav .div_sec  ul li a{
    text-decoration: none;
    line-height: 60px;
    font-family: sans-serif;
    color: #212121;
    padding: 3px 0;
    font-weight: 700;
    border-bottom: 2px solid white;
    transition: .7s;
}
nav .div_sec  ul li a:hover{
    border-bottom: 2px solid #000000!important;
}
.home{
    width: 100%;
    background: url(photolar/yuxarı_arxa.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.home .div_about{
    padding-top: 10%;
    padding-left: 17%;
}
.home .div_about h1{
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #212121;
}
.home .div_about .about_1 .ad{
    font-size: 30px;
    margin-bottom: 30px;
    font-family: sans-serif;
    color: #212121;
}
.home .div_about .about_1 .about_1_secim{
    display: flex;
    gap: 10px;
}
.home .div_about .about_1 .about_1_secim .btn{
    width: 100px;
    background: #212121;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    text-align: center;
    transition: .5s;

}
.home .div_about .about_1 .about_1_secim .btn2{
    background: white;
    border: 2px solid #212121;
    color: #212121;
    width: 150px;
}
.home .div_about .about_1 .about_1_secim .btn:hover{
    box-shadow: 1px 1px 5px rgb(102, 102, 102);
    scale: 1.02;
}
.home .div_people1{
    position: relative;
}
.home .div_people1 .div_people2{
    width: 500px;
    height: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.home .div_people1 .div_people2 img{
    width: 100%;
    height: 100%;
}
.about_cv{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}
.about_cv .about_esas{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 20px 0;
}
.about_cv .about_esas h1{
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 100;
}
.about_cv .about_esas .balaca_img{
    width: 70px;
    height: 60px;
}
.about_cv .about_esas .balaca_img img{
    width: 100%;
    height: 100%;
}
.about_cv .about_esas p{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    width: 40%;
}
.about_cv .about_esas a{
    width: 250px;
    line-height: 70px;
    background: #212121;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 30px;
    transition: 1s;
}
.about_cv .about_esas a:hover{
    box-shadow: 1px 2px 10px rgb(102, 102, 102);
    scale: 1.02;
}
.about_cv .about_esas .about_daxili_esas{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about_cv .about_esas .about_daxili_esas .h1_2{
    margin-top: 150px;
}
.about_cv .about_esas .about_diiler{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.about_cv .about_esas .about_diiler .about_diiler_daxili{
    width: calc(100% / 3);
}
.about_cv .about_esas .about_diiler .about_diiler_daxili h1{
    font-family: sans-serif;
    font-weight: 100;
    color: #212121;
    font-size: 28px;
    text-transform: uppercase;
}

.about_cv .about_esas .about_diiler .about_diiler_daxili .about_diiler_daxili_fayiz{
    width: 70%;
    margin-top: 10px;
    height: 15px;
    background-color: #787878;
}
.about_cv .about_esas .about_diiler .about_diiler_daxili .about_diiler_daxili_fayiz .about_diiler_daxili_fayiz2{
    width:0% ;
    margin-top: 10px;
    height: 15px;
    background-color: #212121;
}
.about_cv .about_esas .about_diiler .about_diiler_daxili .about_diiler_daxili_fayiz .fm2{
    width: 0%;
}
.about_cv .about_esas .about_diiler .about_diiler_daxili .about_diiler_daxili_fayiz .fm3{
    width: 0%;
}
.service{
    width: 100%;
}
.service .service_background{
    width: 100%;
    height: 35vh;
    opacity: .5;
    background: url(photolar/services-bg.jpg);
    background-attachment: fixed;
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: center;
}
.service .service_esas{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    top: -150px;
    background: white;
    padding: 100px;
    box-shadow: 1px 1px 30px gray;
    z-index: 1;
}
.service .service_esas h1{
    font-size: 36px;
    font-weight: 100;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #212121;
}
.service .service_esas .balaca_im2{
    width: 60px;
    height: 30px;
}
.service .service_esas .balaca_im2 img{
    width: 100%;
    height: 100%;
}
.service .service_esas .service_esas_hisseler{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;

}
.service .service_esas .service_esas_hisseler .service_esas_hisseler1{
    width: calc(100% / 3 );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.service .service_esas .service_esas_hisseler .service_esas_hisseler1 h1{
    font-size: 1.7rem;
    font-weight: 700;
}
.service .service_esas .service_esas_hisseler .service_esas_hisseler1 p{
    text-align: center;
    width: 80%;
    font-family: sans-serif;
}
.lahiyeler{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.lahiyeler .lahiyeler_basliq{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.lahiyeler .lahiyeler_basliq h1{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 100;
    
}

.lahiyeler .lahiyeler_basliq .balaca_img2{
    width: 70px;
    height: 60px;
}
.lahiyeler .lahiyeler_basliq .balaca_img2 img{
    width: 100%;
    height: 100%;
}

.lahiyeler .lahiyeler_esas{
    width: 70%;
    display: flex;
    gap: 10px;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil{
    width:calc(100% / 3);
    position: relative;
    transition: 1.5s;
    overflow: hidden;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil img{
    width: 100%;
    height:100%;
    object-fit: 100%;

}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .porfolyo_sekil_Daxili ,.lahiyeler_esas_about{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: -50%;
    background-color: #666565;
    opacity: 0;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil:hover .porfolyo_sekil_Daxili,.lahiyeler_esas_about{
    left: 0%;
    opacity: 0.5;
    transition: 2s;
}

.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil:hover .lahiyeler_esas_about{
    opacity: 1;
    padding-left: 20%;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about{
    opacity: 0;
    background: transparent;
    padding-top: 40%;
    padding-left: 50%;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about h1{
    font-size:2rem;
    color: white;
    font-family: sans-serif;
    padding-bottom: 10px;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about a{
    border: 2px solid white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about a ion-icon{
    width: 100%;
    height: 100%;
    scale: .7;
    color: white;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about a:hover{
    background-color: white;
}
.lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about a:hover ion-icon{
    color: black;
}

 .saat_background{
    width: 100%;
    height: 35vh;
    background: url(photolar/counters-bg.jpg);
    background-attachment: fixed;
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.saat_background .saylar{
    width: calc(100% / 3);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.saat_background .saylar h1,h2{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.saat_background .saylar h1{
    font-size: 5rem;
}
.saat_background::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
}

form{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
    
}
form .form_basliq{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
form .form_basliq h1{
    font-family: sans-serif;
    font-weight: 100;
}
form .form_inputlar{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
form .form_inputlar input{
    border: 0;
    width: calc(100% /2 - 10px);
    padding: 10px 0;
    border-bottom: 1px solid black;
    outline: 0;
    padding-left: 10px;
}
form .form_inputlar input:focus{
    border-bottom-color: gray;
}
form .form_inputlar textarea{
    width: 100%;
    height: 300px;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    padding-left: 10px;
}

form .form_inputlar textarea:focus{
    border-bottom-color: gray;
}
form .form_inputlar button{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    background: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}
form .form_inputlar button h4{
    font-size: 1rem;
}
form .form_inputlar button i{
    scale: 1.5;
}
form .form_inputlar button:hover{
    box-shadow: 1px 1px 5px rgb(102, 102, 102);
    scale: 1.02;

}
@media(max-width:1200px){
    .about_cv .about_esas .about_diiler{
        flex-direction: column;
        align-items: center;
    }
    .about_cv .about_esas .about_diiler .about_diiler_daxili{
        width:100%;
    }
    .about_cv .about_esas .about_diiler .about_diiler_daxili h1, .about_diiler_daxili_fayiz{
        margin: 10px auto;
        text-align: center;
    }
    .home .div_about{
        padding-top: 20%;
        padding-left: 10%;
    }
    .service .service_esas .service_esas_hisseler{
        flex-direction: column;
        align-items: center;
    }
    .service .service_esas .service_esas_hisseler .service_esas_hisseler1{
        width: 100%;
    }
    .service .service_esas .service_esas_hisseler .service_esas_hisseler1 p{
        width:100%;
    }
    .lahiyeler .lahiyeler_esas{
        flex-direction: column;
    }
    .lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil{
        width: 80%;
        margin: 0 auto;
    }

}
@media(max-width:900px){
    .home .div_about h1{
        font-size: 30px;
    }
    
    .home .div_people1 .div_people2{
        width: 400px;
        height: 500px;
    }
    .saat_background{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }
    .about_cv .about_esas p{
        width: 80%;
    }
    .service .service_esas{
        width: 90%;
    }
    form .form_inputlar{
        flex-direction: column;
        align-items: center;
    }
    form .form_inputlar input{
        width: 100%;
    }
    form .form_inputlar{
        width: 90%;
    }
}

@media(max-width:715px){
    
    .about_cv .about_esas h1{
        font-size:2rem;
    }
    
    .about_cv .about_esas p{
        width: 100%;
    }
    .lahiyeler{
        margin-top: 5%;
    }
    .lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil{
        width: 100%;
    }
    .saat_background .saylar h1{
        font-size: 3rem;
    }
    .saat_background .saylar h2{
        font-size: 1.3rem;
    }
    .about_cv .about_esas a{
        scale: .8;
    }
    .lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about h1{
        font-size: 1.3rem;
    }
    
nav .div_sec ul{
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;
}
.div_sekil{
    position: absolute;
    left: 20px;
    top: 0;
    z-index: -1;
}
nav .div_sec ul::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: .8;
    z-index: -1;


}
nav .div_sec .icon_menu{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
}
nav .div_sec .icon_menu i{
    scale: 3;
    padding: 20px 0;
}
nav .div_sec ul .icon_menu_bağlamaq{
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
}
nav .div_sec ul .icon_menu_bağlamaq i{
    scale: 4.5;
    color: white;
}
nav .div_sec  ul li{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav .div_sec  ul li a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    border-bottom:0;
}
nav .div_sec  ul li a:hover{
    border-bottom: 2px solid #ffffff!important;
}
}
@media(max-width:430px){
    .service .service_esas h1{
    font-size: 20px;
    }
    .service .service_esas .service_esas_hisseler .service_esas_hisseler1 h1{
        font-size: 1.2rem;
    }
    
    .saat_background .saylar h1{
        font-size: 2rem;
    }
    .saat_background .saylar h2{
        font-size: 1rem;
    }
    .about_cv .about_esas h1{
        font-size: 1.5rem;
    }
    .about_cv .about_esas p{
        font-size: 1rem;
    }
    .about_cv .about_esas a{
        scale: .7;
    }
    
    .lahiyeler .lahiyeler_esas .lahiyeler_esas_sekil .lahiyeler_esas_about h1{
        font-size: 1rem;
    }
    .home .div_people1 .div_people2{
        width: 350px;
        height: 350px;
    }
}
@media(max-width:370px){
    .service .service_esas h1{
    font-size: 20px;
    }
    .service .service_esas .service_esas_hisseler .service_esas_hisseler1 h1{
        font-size: .8rem;
    }
    .service .service_esas .service_esas_hisseler .service_esas_hisseler1 p{
        font-size: .7rem;
    }
    .home .div_people1 .div_people2{
        width: 300px;
        height: 350px;
    }
    
}
